@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;

    --background-color: #171a21;
    --color: #b8bec2;
    --border-color: transparent;

    --hover-background-color: rgba(255, 255, 255, 0.25);
    --hover-color: #0099FF;
    --hover-border-color: #0099FF;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--color);
}

.dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.dashboard .category {
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.dashboard .category .header {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .category .item {
    height: 70px;
    width: 290px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 2px;
    border: solid 1px var(--border-color);
    transition: 0.3s;
    position: relative;
}

.dashboard .category .item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    background-color: var(--hover-background-color);
    color: var(--color);
    transition: inherit;
}

.dashboard .category .item:hover::before {
    width: 100%;
    border-top: solid 1px var(--hover-border-color);
    border-bottom: solid 1px var(--hover-border-color);
    background-color: var(--hover-background-color);
    color: var(--color);
}

.dashboard .category .item .name {
    padding: 5px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    transition: inherit;
}

.dashboard .category .item:hover .name {
    color: var(--hover-color);
}

.dashboard .category .item .icon {
    height: 60px;
    width: 60px;
}