@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;

    --background-color: #171a21;
    --color: #b8bec2;
    --border-color: transparent;

    --hover-background-color: rgba(255, 255, 255, 0.25);
    --hover-color: #0099FF;
    --hover-border-color: #0099FF;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--color);
}

/** Custom anchor styles **/
a {
    transition: 0.3s;
}

a, 
a:visited {
    color: var(--color);
}

a:hover,
a:visited:hover {
    color: var(--hover-color)
}

/** Header/footer styles **/
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/** Dashboard styles **/
.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.dashboard .category {
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    min-height: 80vh;
    transition: 0.3s;
}

.dashboard .category .header {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .category .item {
    height: 70px;
    width: 290px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 2px;
    border: solid 1px var(--border-color);
    position: relative;
    transition: 0.3s;
}

.dashboard .category .item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    background-color: var(--hover-background-color);
    color: var(--color);
    transition: inherit;
}

.dashboard .category .item:hover::before {
    width: 100%;
    border-top: solid 1px var(--hover-border-color);
    border-bottom: solid 1px var(--hover-border-color);
    background-color: var(--hover-background-color);
    color: var(--color);
}

.dashboard .category .item .name {
    padding: 5px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    transition: inherit;
    text-transform: capitalize;
}

.dashboard .category .item:hover .name {
    color: var(--hover-color);
}

.dashboard .category .item .icon {
    height: 60px;
    width: 60px;
    transition: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .dashboard {
        flex-direction: column;
        justify-content: flex-start;
    }

    .dashboard .category {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-height: unset;
        min-height: 100px;
        box-sizing: border-box;
    }

    .dashboard .category .header {
        height: 100px;
        font-size: 3rem;
    }

    .dashboard .category .items {
        width: 90%;
    }

    .dashboard .category .item {
        height: 120px;
        width: 100%;
    }

    .dashboard .category .item .icon {
        width: 120px;
        height: 120px;
    }

    .dashboard .category .item .name {
        width: 90%;
        font-size: 2rem;
    }
}