{% from "macros.html" import render_category, render_child %}

<!DOCTYPE html>
<html>
    <head>
        {%- set title = config.get("title", "Dashboard") -%}
        {%- set favicon_url = config.get("favicon", "/static/favicon.svg") -%}
        
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="shortcut icon" href="{{ favicon_url }}" type="image/x-icon">
    </head>
    <body>
        {# Render header text if specified in the config #}
        {%- set header_text = config.get("header") -%}
        {%- if header_text -%}
            <header class="header">
                {{ header_text | safe }}
            </header>
        {%- endif -%}
        
        {# Render dashboard #}
        <article class="dashboard">
            {%- if config.get("children") -%}
                {%- for child in config.get("children") -%}
                    {%- set category_name = child.get("name") -%}
                    {%- set category_children = child.get("children") -%}
                    {{ render_category(category_name, category_children) }}
                {%- endfor -%}
            {%- else -%}
                There doesn't appear to be anything here...
            {%- endif -%}
        </article>

        {# Render footer text if specified in the config #}
        {%- set footer_text = config.get("footer") -%}
        {%- if footer_text -%}
            <footer class="footer">
                {{ footer_text | safe }}
            </footer>
        {%- endif -%}
    </body>
</html>