{%- macro render_category(category_name, children) %}
<article class="category">
    {%- if category_name -%}
        <header class="header">
            {{ category_name }}
        </header>
    {%- endif -%}
    <article class="items">
        {%- for child in children -%}
            {{ render_child(child) }}
        {%- endfor -%}
    </article>
</article>
{% endmacro -%}

{%- macro render_child(child) %}
{# Get required components from the child #}
{%- set name = child.get("name") -%}
{%- set link = child.get("link") -%}
{%- set icon_url = child.get('icon', url_for('static', filename='default.svg')) -%}

<a class="item" href="{{ link }}">
    <img 
        class="icon"
        src="{{ icon_url }}"
        alt="Icon for {{ name }}"
    >
    <article class="name">
        {{ name }}
    </article>
</a>
{% endmacro -%}