{%- macro render_category(category_name, children, default_icon="/static/default.svg") %}
<article class="category">
    <header class="header">
        {%- if category_name -%}{{ category_name }}{%- endif -%}
    </header>
    
    <article class="items">
        {%- for child in children -%}
            {{ render_child(child, default_icon) }}
        {%- endfor -%}
    </article>
</article>
{% endmacro -%}


{%- macro render_child(child, default_icon="/static/default.svg") %}
{# Get required components from the child #}
{%- set name = child.get("name") -%}
{%- set link = child.get("link") -%}
{%- set icon_url = child.get('icon', default_icon) -%}

<a class="item" href="{{ link }}">
    <img 
        class="icon"
        src="{{ icon_url }}"
        alt="Icon for {{ name }}"
    >
    <article class="name">
        {{ name }}
    </article>
</a>
{% endmacro -%}
